
.b{
  border-color: red;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.color_bleu_royal{
  background-color: #2d466d;
}

.navbar-default .navbar-nav>li>a{
  color : white;
}

.centrage_vertical_force{
  padding-top:60px;
}

.center_horizontal{
text-align: center;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bleuroyal{
  color: #2d466d ;
}

.backgroung_royalbleu{
  background-color: #2d466d ;
}

.backgroung_grey{
  background-color: grey;
}

.no_margin{
  margin-bottom: 0px;
}

.margin_dixpx{
  margin-bottom: 10px;
}

.margin_cinquantepx{
  margin-bottom: 50px;
}

form{
  margin-left: 0%;
}

input.search_personalize{
  margin-left: 0px;
}

.carre_center_horizontal{
  margin: 0 auto;
}
