
.b{ //text
  border-color: red;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.color_bleu_royal{
  background-color: #2d466d;
}

.navbar-default .navbar-nav>li>a{
  color : white;
}

.centrage_vertical_force{
  padding-top:60px;
}

.center_horizontal{
text-align: center;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bleuroyal{
  color: #2d466d ;
}

.backgroung_royalbleu{
  background-color: #2d466d ;
}

.text_royalbleu{
  color : #2d466d;
}

.text_white{
  color : white;
}

.backgroung_grey{
  background-color: grey;
}

.backgroung_white{
  background-color: white;
}

.no_margin{
  margin-bottom: 0px;
}

.margin_dixpx{
  margin-bottom: 10px;
}

.padding_vingtpx{
  padding-top: 20px;
}

.padding_trentepx{
  padding-top: 30px;
}

.margin_cinquantepx{
  margin-bottom: 50px;
}

.margin_quarante{
  margin-top: 40%;
  margin-bottom: 15%;
}

form{
  margin-left: 0%;
}

input.search_personalize{
  margin-left: 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
