/* va t'on garder le texte ou mettre un logo? si on garde le texte je dois faire le @media query pour gérer plusieurs cas, voir pourquoi le span bouge pas

*/

.white-blue {
  min-height: 200px;
  background-color: #35465f;
  color: white;
}

.dark-blue {
  background-color: #20324e;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.underline {
  margin-left: 130px;
  width: 210px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 8px;
}

#description-cabinet  {
  /*background:#ccc;*/
  font-size: 20px;
  width:200px;
  height:200px;
  line-height:250px;
  margin-left: 25%;
  text-align:center; /* centrage horizontal */ }

#span-description {
    width:320px; /* largeur de la zone de texte */
    padding:10px; /* aération interne de la zone de texte */
    /*border:1px solid #fff;*/
    vertical-align:middle;
    display:inline-block;
    line-height:1.2; /* on rétablit le line-height */
  text-align:left; /* ... et l'alignement du texte */ }

@media all and (max-width: 1200px) {

  #description-cabinet  {
    background:#ccc;
    width:100%;
    height:100px;
    line-height:50px;
  text-align:left; /* centrage horizontal */ }

  #span-description {
      margin-top: 20px;
      width:100%; /* largeur de la zone de texte */
      padding:10px; /* aération interne de la zone de texte */
      border:1px solid #fff;
      vertical-align:middle;
      line-height:1.2; /* on rétablit le line-height */
    text-align:left; /* ... et l'alignement du texte */ }

    .horizontal-line {
      width: 30%;
    }

}
