
.align{
  text-align: center;
  font-size: 50px;
  height: 43px;
  font-family: "verdana";
}

.image_background_hcc{
    /*background-image: url(../img/diagmonds--light--1920x1080.png);*/
    background-image: url(../img/diagmonds--light--1920x1080GRIS.png);
    height: 350px;
    position: relative;
}

.image_background_gca{
  background-image: url(../img/shattered-1920x1080.png);
  height: 350px;
}


.why_us {
  height: 350px;
}

.our_team {
  height: 350px;
}

.btn_home {
  text-align: center;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  border-color: #2d466d;
  border-width: 2px;
  background-color: white;
  color: #2d466d;
  font-size: 16px;
  font-weight: bold;
}

.btn_home:hover {
  background-color: white;
  color: #2d466d;
}

/** logo **/

.global div{
  display: inline-block;
}

.style_logo{
  font-size: 44px;
}

.p_logo_haut{
  margin-bottom: 0px;
}

.div_logo{
  height: 40px;
}

.logo_haut_right{
  padding-left: 71px;
}

.logo_bas_right{
  padding-left: 72px;
}
