

div.shadow:hover {
  -webkit-box-shadow: 0px 0px 30px -3px rgba(98,126,140,1);
  -moz-box-shadow: 0px 0px 30px -3px rgba(98,126,140,1);
  -o-box-shadow : 0px 0px 30px -3px rgba(98,126,140,1);
  box-shadow: 0px 0px 30px -3px rgba(98,126,140,1);
  transform: scale(1.05, 1.05);
   transition: box-shadow .3s;
  transition: transform 0.4s ease-in-out;
	}

  div.shadow::after{
  -webkit-box-shadow: 0px 0px 19px -3px rgba(98,126,140,1);
  -o-box-shadow: 0px 0px 19px -3px rgba(98,126,140,1);
  -moz-box-shadow: 0px 0px 19px -3px rgba(98,126,140,1);
  box-shadow: 0px 0px 19px -3px rgba(98,126,140,1);
  transform: scale(1, 1);
  transition: transform 0.4s ease-in-out;
  }

.carre_center_horizontal{
  margin: 0 auto;
}

.carre_margin_bottom{
  margin-bottom: 40px;
}

.carre_margin_top{
  margin-top: 40px;
}

.carre{
  height: 100%;
  width : 80%;
  border-radius: 3px;
}

.text_size{
  font-size: 28px;
}

.navbar-default{
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .text_size{
    font-size: 4vw;
  }
}
