

.carre_center_horizontal{
  margin: 0 auto;
}

.carre_margin_bottom{
  margin-bottom: 40px;
}

.carre_margin_top{
  margin-top: 40px;
}

.carre{
  height: 100%;
  width : 80%;
}

.text_size{
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  .text_size{
    font-size: 4vw;
  }
}
